#
#    sprk - Project
#
#    The MIT License (MIT)                                                         
#                                                                                  
#    Copyright (c) 2016 Matt Forbes                                                
#                                                                                  
#    Permission is hereby granted, free of charge, to any person obtaining a copy  
#    of this software and associated documentation files (the "Software"), to deal 
#    in the Software without restriction, including without limitation the rights  
#    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell     
#    copies of the Software, and to permit persons to whom the Software is         
#    furnished to do so, subject to the following conditions:                      
#                                                                                  
#    The above copyright notice and this permission notice shall be included in all
#    copies or substantial portions of the Software.                               
#                                                                                  
#    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR    
#    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,      
#    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE   
#    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER        
#    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
#    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
#    SOFTWARE.                                                                     

Source:         sprk
Section:        net
Priority:       optional
Maintainer:     John Doe <John.Doe@example.com>
Uploaders:      John Doe <John.Doe@example.com>
Standards-Version: 3.9.5
Build-Depends: bison, debhelper (>= 8),
    pkg-config,
    automake,
    autoconf,
    libtool,
    libsodium-dev,
    libzmq4-dev,
    libczmq-dev,
    dh-autoreconf,
    systemd

Package: libsprk0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sprk
 This package contains shared library for sprk: project

Package: sprk-dev
Architecture: all
Section: libdevel
Depends:
    libsodium-dev,
    libzmq4-dev,
    libczmq-dev,
    libsprk0 (= ${binary:Version})
Description: development files for sprk
 This package contains development files for sprk: project

Package: sprk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: project
 Main package for sprk: project

Package: sprk-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    sprk (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for sprk
 This package contains the debugging symbols for sprk : project.

